<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <p><label for="respuesta">Pregunta: <%= quiz.pregunta %></p>
    <input type="text" name="respuesta" />
    <input type="submit" value="Enviar" />
</form>
